# pip install pytest pytest-cov
 
#  Sample Pytest Configuration (pytest.ini)
# [pytest]
pytest==9.0.2
testpaths = tests
addopts = --strict-markers --tb=short --disable-warnings --cov=app --cov-report=xml